.windowCtrl{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  padding: 4px 12px;
  width: 100%;
  box-sizing: border-box;
  -webkit-app-region: drag;
  position: absolute;


  .ctrlItem{
    -webkit-app-region: no-drag;
    transition: color 500ms;
    color: #aaaaaa;
    margin-left:16px;
    cursor: pointer;

    &:hover{
      color: blueviolet;
    }


    i{
      font-size: 16px;
    }
  }
}
