.windowCtrl{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  padding: 4px 12px;
  width: 100%;
  box-sizing: border-box;
  -webkit-app-region: drag;
  position: absolute;
  .ctrlItem{
    margin-left:16px;
    i{
      font-size: 16px;
      -webkit-app-region: no-drag;
      transition: color 300ms;
      color: #dddddd;
    }
    i:hover{
      color: blueviolet;
      cursor: pointer;
    }
  }
}
.mainWindow{
  height: 80px;
  background: linear-gradient(-90deg,rgba(33,118,255,1) 1%,rgba(75,179,253,1) 100%);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  .ctrlItem{
    i{
      font-size: 26px;
      color: #DDDDDD;
    }
    i:hover{
      color: white;
    }
  }
}
