.head
  height 80px
  position absolute
  box-sizing border-box
  color white
  display inline-block
  padding 20px 15px
  -webkit-app-region no-drag;



  .img
    width 40px
    height @width
    position relative
    display inline-block
    vertical-align top

    span
      position: absolute;
      right: 0;
      bottom: 0;

    img
      width 100%
      height @width


  .status
    display inline-block
    margin-left 12px
    vertical-align super
    line-height 100%
    .name
      margin-bottom 8px
      font-size 16px
    .dropdown
      cursor pointer
      font-size 14px


.circle
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display inline-block
