.head
  height 80px
  position relative
  align-items center
  box-sizing border-box
  color white

  img
    width 40px
    height @width
    margin 20px 15px

  .status
    display inline-block

  *
    -webkit-app-region no-drag;

